<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAB0HTkJXX7Sk3J6PFSUW1dzt7QfIadqBg</string>
	<key>GCM_SENDER_ID</key>
	<string>49069215161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scr.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bikestore-735a3</string>
	<key>STORAGE_BUCKET</key>
	<string>bikestore-735a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49069215161:ios:5ad0bd7fc7e4f5b228ba68</string>
</dict>
</plist>